@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-background-color: #001233;

  --primary-text-color: #0466c8;

  --accent-color: #fdc500;

  --dead-border-color: #c1121f;
  --dead-background-color: #c1121f44;
}

body {
  height: 100vh;
  width: 100vw;
  user-select: none;
}

#starting-screen {
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  height: 100%;
  background-color: var(--primary-background-color);

  & > h1 {
    font-family: "Tourney", serif;
    font-size: 10rem;
    color: var(--primary-text-color);
    text-shadow: 5px 5px var(--accent-color);
    text-transform: lowercase;
  }

  & > button {
    font-family: "Tourney", serif;
    font-size: 3rem;
    color: var(--accent-color);
    text-transform: uppercase;

    padding: 1rem 4rem;
    border: none;
    background-color: var(--primary-text-color);
    cursor: pointer;
  }

  & > button:hover {
    box-shadow: 15px 15px var(--primary-text-color);
    background-color: var(--accent-color);

    color: var(--primary-text-color);
    font-weight: 500;
  }
}

#game-screen {
  height: 100%;
  background-color: var(--primary-background-color);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  & > #boards-container {
    display: flex;
    gap: 10rem;

    & > .board {
      display: flex;
      flex-direction: column;

      & > .row {
        display: flex;

        & > .cell {
          width: 2.8rem;
          height: 2.8rem;
          border: 1px dashed var(--primary-text-color);
        }
      }
    }
  }

  & > #options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & > button {
      font-family: "Tourney", serif;
      font-size: inherit;
      font-weight: 500;
      color: var(--accent-color);

      border: 1px dashed var(--primary-text-color);
      padding: 0.5rem 1rem;
      background-color: transparent;

      cursor: pointer;
    }

    & > button:hover {
      border: 1px dashed var(--accent-color);
    }
  }
}

#board-2 .cell {
  cursor: crosshair;
}

#board-2 .cell:hover:not(.disabled-cell):not(.dead-cell):not(.missed-cell) {
  background-color: var(--primary-text-color);
}

.disabled-cell {
  border: 1px dotted #023e7d !important;
  cursor: not-allowed !important;
  background-color: transparent !important;
}

.dead-cell {
  background-color: var(--dead-background-color);
  border: 1px dotted var(--dead-border-color) !important;
  cursor: not-allowed !important;
}

.missed-cell {
  background-color: #ffd50044;
  border: 1px dotted #ffd500 !important;
  cursor: not-allowed !important;
}

.drag-over {
  background-color: #7ae582dd;
}

.non-viable-cell {
  border: 1px dotted #023e7d !important;
  cursor: not-allowed !important;
  background-color: transparent;
}

.ship-cell {
  background-color: #06d6a044;
  border: 1px dotted #06d6a0 !important;
  cursor: move;
}
