@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-background-color: #001233;

  --primary-text-color: #0466c8;

  --accent-color: #fdc500;

  --dead-border-color: #c1121f;
  --dead-background-color: #c1121f44;
}

body {
  width: 100vw;
  user-select: none;
  background-color: var(--primary-background-color);
  padding: 1rem;
  padding-top: 5rem;
}

#starting-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  height: 100%;
  background-color: var(--primary-background-color);

  & > h1 {
    font-family: "Tourney", serif;
    font-size: 10rem;
    color: var(--primary-text-color);
    text-shadow: 5px 5px var(--accent-color);
    text-transform: lowercase;
  }

  & > button {
    font-family: "Tourney", serif;
    font-size: 3rem;
    color: var(--accent-color);
    text-transform: uppercase;

    padding: 1rem 4rem;
    border: none;
    background-color: var(--primary-text-color);
    cursor: pointer;
  }

  & > button:hover {
    box-shadow: 15px 15px var(--primary-text-color);
    background-color: var(--accent-color);

    color: var(--primary-text-color);
    font-weight: 500;
  }
}

#game-screen {
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  & > #boards-container {
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 100%;

    & > .board {
      display: flex;
      flex-direction: column;

      position: relative;

      & > #loader {
        position: absolute;
        left: 2.8rem;
        top: 2.8rem;

        display: none;
        justify-content: center;
        align-items: center;

        width: calc(100% - 2.8rem);
        height: calc(100% - 5.2rem);
        background-color: #0466c844;
      }

      & > .x-axis {
        display: flex;

        & > div {
          width: 2.8rem;
          height: 2.8rem;

          display: flex;
          align-items: center;
          justify-content: center;

          color: var(--accent-color);
          font-family: "Tourney", serif;
          font-weight: 500;
        }
      }

      & > .row {
        display: flex;

        & > .row-number {
          width: 2.8rem;
          height: 2.8rem;

          display: flex;
          align-items: center;
          justify-content: center;

          color: var(--accent-color);
          font-family: "Tourney", serif;
          font-weight: 500;
        }

        & > .cell {
          width: 2.8rem;
          height: 2.8rem;
          border: 1px dashed var(--primary-text-color);
        }
      }

      & .player-tag {
        text-align: center;
        color: var(--accent-color);
        font-family: "Tourney", serif;
        font-weight: 500;
        font-size: 1.2rem;

        padding-top: 1rem;
        padding-left: 2.8rem;
      }
    }
  }

  & > #options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & > #reset-button {
      display: none;
    }

    & > button {
      font-family: "Tourney", serif;
      font-size: inherit;
      font-weight: 500;
      color: var(--accent-color);

      border: 1px dashed var(--primary-text-color);
      padding: 0.5rem 1rem;
      background-color: transparent;

      cursor: pointer;
    }

    & > button:hover:not(.disabled-button) {
      border: 1px dashed var(--accent-color);
    }
  }

  & > #instructions {
    & > p {
      font-family: "Tourney", serif;
      font-weight: 500;
      font-size: 1.2rem;
      color: var(--accent-color);
      letter-spacing: 0.2ch;
      text-align: center;
    }
  }
}

#board-2 .cell {
  cursor: crosshair;
}

#board-2 .cell:hover:not(.disabled-cell):not(.dead-cell):not(.missed-cell) {
  background-color: var(--primary-text-color);
}

.disabled-cell {
  border: 1px dotted #023e7d !important;
  cursor: not-allowed !important;
  background-color: transparent !important;
}

.non-viable-cell {
  border: 1px dotted #023e7d !important;
  cursor: not-allowed !important;
  background-color: transparent;
}

.ship-cell {
  background-color: #06d6a044 !important;
  border: 1px dotted #06d6a0 !important;
  cursor: move;
}

.dead-cell {
  background-color: var(--dead-background-color) !important;
  border: 1px dotted var(--dead-border-color) !important;
  cursor: not-allowed !important;
}

.missed-cell {
  background-color: #ffd50044 !important;
  border: 1px dotted #ffd500 !important;
  cursor: not-allowed !important;
}

.drag-over {
  background-color: #7ae582dd;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed !important;
}
